<div class="color-palette-showcase">
    <h3 class="text-center mb-4">Color Palette</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="color-swatch primary-color">
                <div class="color-info">
                    <h5>Primary</h5>
                    <p>#202438</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="color-swatch primary-accent-color">
                <div class="color-info">
                    <h5>Primary Accent</h5>
                    <p>#202438</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="color-swatch secondary-color">
                <div class="color-info">
                    <h5>Secondary</h5>
                    <p>#DA415B</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="color-swatch secondary-accent-color">
                <div class="color-info">
                    <h5>Secondary Accent</h5>
                    <p>#ED6470</p>
                </div>
            </div>
        </div>
    </div>
</div>
